<html>

<body id="myApp">
    <table border="1">
        <tr>
            <th>Session-Semester</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        <tr v-for="(x, idx) in sessemList">
            <td>{{x.sesi}}-{{x.semester}}</td>
            <td>{{x.tarikh_mula}}</td>
            <td>{{sessemList[idx].tarikh_tamat}}</td>
        </tr>
    </table>

</body>

</html>
<script src="ttms.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const vueApp = Vue.createApp({
        data() {
            return { sessemList: null, }
        },

        methods: {
            fetchSessem() {
                var url = "http://web.fc.utm.my/ttms/web_man_webservice_json.cgi?entity=sesisemester";

                fetch(url)
                    .then(res => res.json())
                    .then(jsonInst => {
                        //alert("Success convert to JSON instance!");
                        //console.log(jsonInst);

                        this.sessemList = jsonInst;
                    })
                    .catch(err => console.log(err));
            },
        },

        mounted() {
            this.fetchSessem();
        },
    });
    vueApp.mount("#myApp");
</script>